/* Importing Open Sans font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #FFFFFF;
  padding: 0;
  spacing: 0;
}

div {
  text-align: justify;
}

.center {
  text-align: center;
}

ul {
    list-style-type: none;
    /* Making header larger for proper box shadow */
    width: 120%;
    margin: 0 0 0 -10%;
    padding: 0 0 0 10%;
    overflow: hidden;
    background-color: #1E1E1E;
    height: 54px;
    top: 0;
    box-shadow: 0 5px 5px 0 #888;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

li a:hover {
    background-color: #5B5B5B;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 16px;
}
